


h1
{
    color: red;
    font-size: 50px;
    text-align: center;

}
.class
{
color: royalblue;
font-size: 100px;
text-align: center;
}
#Ptag
{
    color: seagreen;font-size: 150px;
    text-align: center;
}